div {
	margin: 15px 0px;
}

* > :first-child { margin-top: 0 !important; margin-left: 0 !important; }
* > :last-child { margin-bottom: 0 !important; margin-right: 0 !important; }

.one-line {
	display: flex;
}

.comment {
	margin: 50px 0px;
}

.comment > div {
	width: 100%;
}

.one-line > * {
	margin: 0px 5px;
}

.sneaky-btn {
	padding: 0;
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
}

.sneaky-btn:focus {
    border: none;
    outline: none;
}

.profile {
	width: 50px;
	height: 50px;
}

.section-border {
	padding-bottom: 15px;
	margin-bottom: 25px;
	border-bottom: 1px solid black;
}

.comments-container {
	width: 100%;
	min-width: 320px;
	display: flex;
	justify-content: center;
}

.content {
	padding: 10px;
	width: 1024px;
	margin: auto;
	display:block;
}